section.interactive-map {
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.map-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 100px;
	width: 100%;
	height: 100%;
	position: relative;
}

.modal-info {
	display: grid;
	place-items: center;
	position: fixed;
	top: 10px;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 999;
}

.blur {
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(7px);
}

.vector-map {
	height: 77vh;
	max-width: 100vw;
	width: 100%;
}

.jvectormap-region {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.6));
}

.jvectormap-region:hover {
	fill: #62410c;
	cursor: pointer;
	filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.8));
}

.vector-map.africa {
	transform: scale(2);
}

.map-continent-mobile {
	display: none;
}

@media (max-width: 768px) {
	.vector-map {
		width: 100%;
		height: 100%;
		max-height: 60vh;
		padding: 40px;
	}
	.map-wrapper {
		padding-top: 170px;
	}

	.map-continent-mobile {
		position: absolute;
		top: 15%;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 50px;
		padding: 10px;
		z-index: 1;
		background: rgba(164, 80, 32, 0.25);
		backdrop-filter: blur(6px);
		box-shadow: 0 15px 12px rgba(0, 0, 0, 0.412);
	}

	.choose-continent-button,
	.reset-zoom-button {
		background: linear-gradient(135deg, #00ffea28 0%, #774e03c2 100%);
		color: #2d2d2d;
		border: none;
		padding: 10px 18px;
		border-radius: 30px;
		font-weight: bold;
		font-size: 16px;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
		transition: transform 0.2s ease, box-shadow 0.2s ease;
		cursor: pointer;
	}

	.choose-continent-button:hover,
	.reset-zoom-button:hover {
		transform: translateY(-2px) scale(1.03);
		box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
	}
}
