@import "../../assets/css/_variables.css";

.home-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem 0 0 0;
	gap: 5rem;
	width: 100%;
	position: relative;
	background: none;
	box-sizing: border-box;
	animation: containerFadeIn 1.2s ease-in-out forwards;
}

.image-section {
	position: relative;
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 0;
	margin-left: -12rem;
}

.home-img {
	width: 90%;
	height: 400px;
	margin-top: 2rem;
	max-width: 700px;
	border-bottom-right-radius: 30%;
	border-top-right-radius: 30%;
	box-shadow: 0 40px 40px rgba(0, 0, 0, 0.63);
	opacity: 1;
	object-fit: cover;
}

.home-img:hover {
	transition: transform 0.4s ease;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.7);
}

.content-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
	padding: 1rem;
	border-radius: 24px;
	background: rgba(96, 117, 126, 0.088);
	border: 1px solid rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 32px rgba(0, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	animation: slideIn 1.5s ease forwards;
	opacity: 0;
	color: white;
}

.title {
	font-size: 1.4rem;
	color: #000;
	font-family: var(--font-family-title-home);
}

.subtitle {
	font-size: 1rem;
	color: #e76f51;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	opacity: 0;
	animation: fadeInUp 2s ease forwards;
	animation-delay: 1s;
}

.description {
	font-size: .9rem;
	line-height: 2;
	margin: 0;
	color: #00000093;
}

.zen-travel {
	color: #0a0a0a;
	font-weight: bold;
	text-shadow: 0 0 8px #00ffff41;
}

.map-btn {
	padding: 0.75rem 2.2rem;
	margin-top: 1rem;
	background: linear-gradient(135deg, #006eff7e, #131313a3);
	color: #0c1c2c;
	font-weight: bold;
	font-size: 1.1rem;
	border-radius: 30px;
	text-decoration: none;
	transition: all 0.3s ease;
	box-shadow: 0 0 18px #000;
	animation: fadeInUp 2s ease-out forwards;
	opacity: 0;
	animation-delay: 1s;
}

.map-btn:hover {
	transform: scale(1.08);
	box-shadow: 0 0 30px rgba(152, 154, 154, 0.8);
}

@keyframes containerFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		transform: translate3d(60px, 40px, 0) scale(0.95);
		filter: blur(8px);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0) scale(1);
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes fadeInUp {
	from {
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@media (max-width: 768px) {
	.home-container {
		flex-direction: column;
		padding: 3rem 0rem;
		text-align: center;
		min-height: 100vh;
	}

	.content-section {
		width: 80%;
	}

	.image-section {
		width: 90%;
		height: auto;
		margin: auto;
	}

	.home-img {
		width: 100%;
		margin: auto;
		height: auto;
		border-radius: 20px;
	}

	.title {
		font-size: 1.5rem;
	}
}
