@import "../../../assets/css/_variables.css";

.climat {
	background: #ffffff0d;
	border: 1px solid #07637132;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: rgba(128, 128, 128, 0.426) transparent;
	padding: .8rem;
	border-radius: 12px;
	width: 100%;
	max-width: 650px;
	height: 300px;
	margin: 1.5rem auto;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.climat h4 {
	color: #281f05;
	font-size: 1.3rem;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 0;
	font-family: var(--font-family-title-home);
}

.calendar {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	padding: .7rem;
	border-radius: 8px;
	font-family: var(--font-family-modal);
}

.period {
	background: #ffffff1c;
	border-radius: 12px;
	padding: .8rem;
	text-align: center;
	box-shadow: 0 0 10px #9c5b3b22;
	transition: all 1s ease;
	color: #1f1a0d;
}

.period:hover {
	transform: scale(1.02);
	background-color: #0872741d;
	box-shadow: 0 0 15px #3a4744;
}

.mounth {
	font-size: 1.1rem;
	margin-bottom: .2rem;
	color: rgb(41, 41, 34);
}

.icon {
	font-size: 2rem;
	margin-bottom: .2rem;
}

.average,
.rainfall {
	font-size: .8rem;
	font-weight: 400;
}

.no-weather {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000;
	font-weight: 100;
	font-family: var(--font-family-modal);
}

.no-weather .no-data {
	color: #000;
	font-weight: 400;
}

.no-weather .no-data span {
	font-weight: bold;
	color: #674600;
}

.no-weather .weather-gif {
	width: 250px;
	margin: .7rem auto;
	display: block;
	border-radius: 20px;
	filter: brightness(0.8);
}

.no-weather .comming-soon {
	color: #000;
	font-weight: 400;
}

@keyframes animation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.animation {
	animation: animation 2s ease-out forwards;
}

@media (max-width: 768px) {
	.climat {
		padding: 1rem;
		height: auto;
	}
	.calendar {
		grid-template-columns: repeat(2, 1fr);
		padding: 1rem;
		height: 300px;
	}

	.period {
		padding: 0.6rem;
	}

	.icon {
		font-size: 1.6rem;
	}

	.mounth {
		font-size: 1rem;
	}
}

@media (max-width: 480px) {
	.calendar-meteo {
		grid-template-columns: 1fr;
	}
}
