ul.placeList {
	display: flex;
	padding: initial;
}

ul.placeList li.places-card {
	list-style-type: none;
	margin: 10px;
	border-radius: 15px;
	border: solid rgb(66, 140, 149);
	box-shadow: 20px 20px 20px 0 rgb(66, 140, 149, 0.6);
}

ul.placeList img {
	border-radius: 5px;
}

ul.placeList li.places-card:hover {
	transform: scale(1.05);
	transition: all 0.3s ease;
	background: linear-gradient(to bottom, rgb(66, 140, 149), white);
	border-radius: 15px;
}

@media screen and (width <= 600px) {
	.placeList {
		display: none;
	}
}

@media screen and (width >= 601px) {
	.carousel {
		display: none;
	}
}
