.carousel {
	width: 60%;
	margin: auto;
}
.carouselImage {
	margin-top: 20px;
	border-radius: 20px;
}

.thumbs {
	display: none;
}

.slide P {
	width: 70%;
	margin: auto;
	margin-bottom: 20px;
}

.carousel-root .carousel {
	max-width: 300px;
	margin: auto;
}
