.modalChecklist {
	height: 70%;
	width: 70%;
	background: linear-gradient(
		to bottom,
		var(--main-color-modal),
		var(--secondary-color-modal)
	);
	margin: auto;
	border-radius: 25px;
	padding: 50px 0px 50px 0px;
	box-shadow: 30px 30px 15px var(--color-text-modal);
}

#closeBtn {
	height: 25px;
	width: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	margin-left: 90%;
	color: var(--color-text-modal);
	border-color: var(--color-btn-modal);
	box-shadow: 5px 5px 5px var(--color-text-modal);
	border-radius: 5px;
	border-color: var(--color-text-modal);
}

h1 {
	color: var(--color-text-modal);
	font-weight: bolder;
}

ul {
	list-style-type: none;
}

li {
	padding: 10px 0px 10px 0px;
	color: var(--color-text-modal);
	font-weight: bold;
}

label {
	display: flex;
	align-items: center;
	gap: 70px;
	margin-left: 30vh;
}

input {
	height: 20px;
	width: 20px;
	box-shadow: 5px 5px 5px var(--color-text-modal);
}

#printBtn {
	height: 50px;
	width: 200px;
	border-radius: 20px;
	box-shadow: 4px 4px 4px var(--color-text-modal);
	background-color: var(--color-text-modal);
	color: var(--color-btn-modal);
	font-weight: bolder;
	margin: 20px 50px 20px 20px;
}
