@import "./assets/css/_variables.css";

a {
	text-decoration: none;
	color: black;
	padding: 10px 20px;
	background-color: #e7f1ff;
	border-radius: 5px;
	border: 1px solid black;
	margin: 20px;
	font-family: var(--font-family-modal);
	font-size: var(--font-size-paragraphe-modal);
}

h1 {
	font-size: 2.5rem;
	color: #948a8a;
	text-align: center;
	margin-top: 50px;
	font-family: var(--font-family-title-home);
}

p {
	margin-bottom: 40px;
}

footer {
	padding: 50px;
}
